[servers]
${ hostname_vm1 } ansible_host=${ external_ip_address_vm1 } ansible_user=${ user_vm1 } ansible_python_interpreter=/usr/bin/python3
${ hostname_vm2 } ansible_host=${ external_ip_address_vm2 } ansible_user=${ user_vm2 } ansible_python_interpreter=/usr/bin/python3